.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #efb269;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-page form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.login-page form input,
.login-page form select{
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.login-page form button{
    padding: 12px;
    border-radius: 10px;
    border:black solid 1px;
    background-color: #7E7E7E;
    color: white;
}

.login-page form button:hover{
    background-color: #575757;
}

.login-page .logo {
    height: 30vh !important;
    width: 30vh !important;
    border-radius: 50px;
    padding: 0;
    object-fit: contain;
    transition: filter 300ms;
    will-change: filter;
}

.login-page h1 {
    color: black;
}

.login-page form label input[type="checkbox"] {
    width: auto;
}