.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--page-bg);
}

.page-content {
  padding: 2rem;
  padding-top: 88px;
  overflow-y: auto;
  background-color: var(--page-bg);
}
